*,*::after,*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(#4a648c, #5394fc); 
    color: white;
    
}

.container {
padding: 1rem;
}

.header-section {
background-image: url(./assets/shaking-hands.jpg);
background-repeat: no-repeat;
background-size: cover;
width: 398px;
height: 197px;

}

.header-section .header-text {
    padding: 0.4rem;
}

header {
    display: flex;
    justify-content: flex-end;
    

}

.header-text, .welcome-section  {
    color:  #b0994f;
}
.welcome-section {
    text-align: center;
}

.form-container {
    max-width: 80%;
    margin: 2rem auto;
}

fieldset {
    border: none;
    padding: 0.3rem 0;
    
}
input,textarea, select {
    width: 100%;
}
input, textarea {
    background-color: #4a648c;
    border: 1px solid #4a648c;
}
.inline {
    width: unset;
    margin-right: 0.2rem;
    vertical-align: center;
}

@media only screen and (min-width: 600px) {
    .container {
        max-width: 60%;
        margin: 0 auto;
    }
    
}